---
layout: default
title: Vabavaratalgud
permalink: private/
redirect_from:
    - /vabavaratalgud.htm
    - /talgute-lingid.htm
    - /meediakajastus.htm
    - /talgujuhi-tagasiside.htm
    - /vanemad-arvutid.htm
    - /slabid-7.htm
    - /slabid-20.htm
    - /estobuntu.htm
    - /talgute-korraldamine.htm
    - /facebooki-lingid.htm
    - /arutelud.htm
    - /talgute-pildid.htm
    - /razor-SiteSearch.htm
    - /slabid-21.htm
    - /ms-toodete-eluiga.htm
---


<div class="jumbotron" id="gallery" style="background-image:url('{{ site.baseurl }}/media/gallery/vabavaratalgud.jpg');">
&nbsp;
</div>

<div style="background-color: rgba(0,0,0,0.7); position: relative; top:-100px; height:100px; display:block;">
    <div class="container" style=" padding-top:2mm; padding-bottom:2mm;">
        <p style="color:white; text-shadow: black 0 0 20px;">
        Juba 7. mail 2016 on toimumas järgmised vabavaratalgud erinevates
        Eesti linnades.
        </p>
        <p>
        <a class="btn btn-primary btn-lg" target="_blank" href="http://talgud.teemeara.ee/events?keyword=vabavara" role="button">Leia lähim talgupunkt &raquo;</a>
        </p>
    </div>
</div>

{% include et/talgud.html %}

<div class="inverted">
{% include et/vaba-tarkvara-paev.html %}
</div>

{% include et/kysi-mult-linuxit.html %}

