<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Küsi mult Linuxit</h2>
            <p>Iga aasta septembris korraldame kampaaniat Küsi mult Linuxit. 
            Kampaania eesmärk on tuua välja põhjusi, miks sa võiksid mõnda
            Linuxi opsüsteemi kasutada, ja julgustada sind ka reaalselt Linuxit proovima.
            Kui näed kampaania kleebisega spetsialisti tegutsemas kuskil võid julgelt
            ligi astuda ning küsida nõu Linuxi paigaldamisega oma arvutisse.
            Kampaanias osalevad spetsialistid on andnud lubaduse aidata
            abivajajaid.
            </p>
            <p><a class="btn btn-default" href="http://kysi-mult-linuxit.alvatal.ee/" target="_blank" role="button">Kampaania lehele &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <img src="http://kysi-mult-linuxit.alvatal.ee/kysi-mult-linuxit-halo.png" alt="[Küsi mult Linuxit]" style="float:right; padding: 0.5em 0 0.5em 1em;"/>
        </div>
    </div>
</div>
