<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Vaba Tarkvara Päev</h2>
            <p>
            Koostöös Riigi Infosüsteemide Ametiga korraldasime
            26. septembril 2014 
            Vaba Tarkvara Päeva Eesti Rahvusraamatukogus.
            Üritus osutus väga menukaks ning kohad täitusid esimeste päevade jooksul.
            Ürituse raames tutvustati Tallinna Haridusameti avatud lähtekoodi
            kasutusevõtu pilooti, muusikakooli infosüsteemi,
            ettevõtte resursihaldustarkvara Odoo,
            EENeti kasutajatehaldustarkvara Candient ning muudki põnevat.
            Üritus oli orienteeritud koolidele, kuid uudistamas käisid
            ka paljud teised.

            </p>
            <p>
                <a class="btn btn-default" href="#" role="button">Soovin infot järgmise ürituse kohta &raquo;</a>
                <a class="btn btn-default" href="#" role="button">Sirvi toimunud ürituse materjale &raquo;</a>
            </p>
        </div>
        <div class="col-md-4">
            <img style="float:right;" src="/assets/img/software-freedom-day-squarish.png" alt="[Software Freedom Day]"/>
        </div>
    </div>
</div>

