<div class="container">
    <div class="row">
        <div class="col-md-8">
          <h2>Talgud</h2>
          <p>
          Seoses Windows XP tugiteenuse lõpuga korraldasime
          2014 aasta mais talgud erinevates Eesti linnades.
          Talgute eesmärk on aidata inimesi kelle arvutites töötab veel
          Windows XP või Office 2003, kuid mitte ainult – tere&shy;tulnud on
          kõik Micro&shy;softi tark&shy;vara ka&shy;su&shy;ta&shy;jad kes soovivad kasu&shy;tada kaasaegset
          tark&shy;vara ning olla oluliselt paremini kaitstud pahavara, nuhkvara,
          reklaamvara vastu.
          Suure huvi tõttu korraldasime jätkutalgud 26. mail.
          Talgutel osales kokku umbes 300 mures kodanikku.
          Vabavaratalgud 2015 aastal on toimumas 2. mail erinevates
          Eesti linnades.
          </p>
          <p><a class="btn btn-default" target="_blank" href="http://talgud.teemeara.ee/events?keyword=vabavaratalgud" role="button">Leia lähim talgupunkt &raquo;</a></p>
<!--          <p><a class="btn btn-default" target="_blank" href="http://eepurl.com/bc6GmX" role="button">Registreeru järgmistele talgutele &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <img style="float:right;" src="http://www.dis-corp.com/content/files/9313/8205/0830/windows_xp_rip.png" alt="[Windows XP RIP]"/>
        </div>
    </div>
</div>
