<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Vaba Tarkvara Päev</h2>
            <p>
            Koostöös Riigi Infosüsteemide Ametiga korraldasime
            26. septembril 2014 
            Vaba Tarkvara Päeva Eesti Rahvusraamatukogus.
            Üritus osutus väga menukaks ning kohad täitusid esimeste päevade jooksul.
            Ürituse raames tutvustati Tallinna Haridusameti avatud lähtekoodi
            kasutusevõtu pilooti, muusikakooli infosüsteemi,
            ettevõtte resursihaldustarkvara Odoo,
            EENeti kasutajatehaldustarkvara Candient ning muudki põnevat.
            Üritus oli orienteeritud koolidele, kuid uudistamas käisid
            ka paljud teised.
            Vaba Tarkvara Päeva tähistatakse 2004 aastast alates.
            </p>
            <p>
                <!--<a class="btn btn-default" href="http://eepurl.com/bc7eCH" role="button">Soovin infot järgmise ürituse kohta &raquo;</a>-->
                <a class="btn btn-default" href="http://wiki.softwarefreedomday.org/" role="button">Järgmised üritused SFD wikis &raquo;</a>
                <a class="btn btn-default" href="http://www.slideshare.net/alvatal/" role="button">Sirvi toimunud ürituse materjale &raquo;</a>
            </p>
        </div>
        <div class="col-md-3">
            <img  src="{{ site.baseurl }}/media/software-freedom-day-squarish.svg" style="max-width:100%;max-height:100%;" alt="[Software Freedom Day]"/>
        </div>
    </div>
</div>

