<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Alvatal - {{ page.title }}</title>
	{% if page.description %}
	<meta name="description" content="{{ page.description }}">
	{% endif %}
	<meta name="author" content="{{ site.author.name }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="{{ site.BASE_PATH }}/assets/resources/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/resources/syntax/syntax.css" rel="stylesheet">
	<link href="{{ site.BASE_PATH }}/assets/css/style.css" rel="stylesheet">

	<!-- Le fav and touch icons -->
	<!-- Update these with your own images
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	-->

	<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.BASE_PATH }}/feed.xml">
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.BASE_PATH }}/">Alvatal</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.BASE_PATH }}/news/">Uudised</a></li>
                    <li><a href="{{ site.BASE_PATH }}/goals.html">Eesmärgid</a></li>
                    <li><a href="{{ site.BASE_PATH }}/agenda.html">Tegevuskava</a></li>
                    <li><a href="{{ site.BASE_PATH }}/network.html">Võrgustik</a></li>
                    <li><a href="{{ site.BASE_PATH }}/portfolio.html">Portfoolio</a></li>
                    <li><a href="{{ site.BASE_PATH }}/channels.html">Kanalid</a></li>
                </ul>
            </div>
        </div>
    </nav>


	{{ content }}


    <div class="container">
		<footer>
			<hr/>
            <p style="text-align: center;">
				&copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.
			</p>
		</footer>		
	</div>		
		
	
    <nav class="navbar navbar-default visible-xs navbar-header" style="margin-bottom:0">
        <a class="navbar-toggle nav-link" href="#pagetop">
            <i class="fa fa-arrow-up fa-lg"></i>
        </a>
        <a class="navbar-toggle nav-link" href="{{ site.BASE_PATH}}/{{ site.tags_path }}">
            <i class="fa fa-tags fa-lg"></i>
        </a>
        <a class="navbar-toggle nav-link" href="{{ site.BASE_PATH}}/{{ site.categories_path }}">
            <i class="fa fa-folder fa-lg"></i>
        </a>
        <a class="navbar-toggle nav-link" href="{{ site.BASE_PATH }}/{{ site.rss_path }}">
            <i class="fa fa-rss fa-lg"></i>
        </a>
    </nav>

	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/resources/bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/app.js"></script>
</body>
</html>
