<! -- sidebar.html -->


<div id="contact-list" class="text-center">
    <!--
	<a href="{{ site.BASE_PATH }}/">
		<img src="{{ site.BASE_PATH }}/assets/tux-silhouette-white.svg" style="width:200px;" />
	</a>

    {% if site.author.bio %}
    <div id="bio">
	    {{ site.author.bio }}
    </div>
    {% endif %}

    


    -->
    <ul class="nav2 list-unstyled">
        <li><a href="{{ site.BASE_PATH }}/">alvatal</a></li>
        <li><a href="{{ site.BASE_PATH }}/goals.html">eesm&auml;rgid</a></li>
        <li><a href="{{ site.BASE_PATH }}/agenda.html">tegevuskava</a></li>
        <li><a href="{{ site.BASE_PATH }}/members.html">liikmed</a></li>
        <li><a href="{{ site.BASE_PATH }}/portfolio.html">portfolio</a></li>
        <li><a href="{{ site.BASE_PATH }}/channels.html">kanalid</a></li>
    </ul>



</div>
<! -- sidebar.html end -->
