
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/merriweather.woff') format('woff');
}

body{
    color: #2c3e50;
    font-family: 'PT Sans';
    font-size: 12pt;
}


a.nav-link {
    padding-bottom: 5px;
    padding-top: 7px;
    color: #aaa;
}
a.nav-link i{
    font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
    font-family: "Courier New", Courier, monospace;
    font-size: 11px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
    -o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
    color: #00ACEE;
    border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
    color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
    color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
    color: #CC2127;
}
#contact-list li:hover .fa-rss {
    color: #e74c3c;
}
article .share .facebook:hover {
    color: #43609C;
    border-color: #43609C;
}
article .share .gplus:hover {
    color: #C13929;
    border-color: #C13929;
}

#contact-list-secondary {
    padding-bottom: 10px;
}

.page-header {
    color: #888;
    margin-top: 100px;
}

article{
    margin-bottom: 40px;
}

.article_body{
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-date {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 3px;
}


article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

h1,h2,h3,h4,h5,h6 { font-family: 'Merriweather', sans-serif; }
article.home h1,
article.home h2,
article.home h3,
article.home h4,
article.home h5,
    color: #f2756a;
}

article.home h1 a,
article.home h2 a,
article.home h3 a,
article.home h4 a {
    color: #f2756a;
}
article.home h1 a:hover,
article.home h2 a:hover,
article.home h3 a:hover,
article.home h4 a:hover {
    color: #e74c3c;
}

.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
    padding-top: 15px;
    font-family: 'PT Sans';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: relative;
    top: 25px;
    left: 25%;
    width: 75%;
    padding-left: 9px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}

ul.dropdown-menu>li>a>i.fa {
    width: 1.3em;
}

@media (min-width: 470px) {
    ul.pager>li.previous>a>span.hidden-xs,
    ul.pager>li>span.page_number>span.hidden-xs,
    ul.pager>li.next>a>span.hidden-xs {
        display: inline !important;
    }
}

@media (max-width: 469px) {
    ul.pager>li.previous>a>span.hidden-xs,
    ul.pager>li>span.page_number>span.hidden-xs,
    ul.pager>li.next>a>span.hidden-xs {
        display: none !important;
    }
}


.col-md-4 p,
.col-md-6 p {
    text-align: justify;



-webkit-hyphens: manual;
   -moz-hyphens: manual;
        hyphens: manual;
}


#content {
    padding: 0 3em;
}

html {
    overflow-y: scroll;
}

/* TODO: Lauri should fix his atom.xml */
article .document span.published { display: none; }


#gallery {
    background-size: cover;
    background-position: center center;
    height: 410px;
    margin: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

ul.ticks {
    list-style: none;
    padding: 0;
}

ul.ticks li:before {
    content: '✓';
    color: green;
    padding: 0 0.5em;
}

.inverted {
    background-color: #202122;
    color: #fff;
    text-shadow: 0px 0px 2px #000;
    padding: 3em 0;
    margin: 2em 0;
}

.inverted .btn {
    text-shadow: none;
}

.partners {
    text-align: center;
}

.partners img {
    margin: 0.5em 1em;
}

h2 svg {
    position: relative;
    top: 12px;
}

.advertise .ticks ul {
    font-size: 16pt;
}

