---
title_prefix: Alvatal
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title_prefix }} - {{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
    <meta name="author" content="{{ page.author }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ '/assets/css/bootstrap.min.css' | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/css/font-awesome.min.css'  | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ '/assets/css/style.css' | prepend: site.baseurl }}" rel="stylesheet">
    <script type="text/javascript" src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ '/assets/js/app.js' | prepend: site.baseurl }}"></script>
    {% if page.feed == 'rss' %}
    <link rel="alternate" type="application/rss+xml" title="{{ page.title_prefix }} RSS feed" href="{{ '/feed/rss/' | prepend: site.baseurl }}">
    {% elsif page.feed == 'atom' %}
    <link rel="alternate" type="application/atom+xml" title="{{ page.title_prefix }} Atom feed" href="{{ '/feed/atom/' | prepend: site.baseurl }}" />
    {% endif %}
</head>
<body id="pagetop">
    <nav class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Men&uuml;&uuml;</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">{{ page.title_prefix }}</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ '/news/' | prepend: site.baseurl }}">Uudised</a></li>
                    <!-- <li><a href="{{ '/goals/' | prepend: site.baseurl }}">Eesm&auml;rgid</a></li> -->
                    <li><a href="{{ '/network/' | prepend: site.baseurl }}">V&otilde;rgustik</a></li>
                    <li><a href="{{ '/tallinx/' | prepend: site.baseurl }}">Tallinx</a></li>
                    <li><a href="{{ '/talgud/' | prepend: site.baseurl }}">Talgud</a></li>
                    <li><a href="{{ '/portfolio/' | prepend: site.baseurl }}">Portfoolio</a></li>
                    <li><a href="{{ '/channels/' | prepend: site.baseurl }}">Kanalid</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {{ content }}
    <div class="container">
        <footer>
            <hr/>
            <p style="text-align: center;">
                &copy; {{ site.time | date: '%Y' }} {{ page.content_license }}.
            </p>
        </footer>
    </div>
    <nav class="navbar navbar-default visible-xs navbar-header" style="margin-bottom:0">
        <a class="navbar-toggle nav-link" href="#pagetop">
            <i class="fa fa-arrow-up fa-lg"></i>
        </a>
        <a class="navbar-toggle nav-link" href="{{ '/' | prepend: page.feed | prepend: '/feed/' | prepend: site.baseurl }}">
            <i class="fa fa-rss fa-lg"></i>
        </a>
    </nav>
</body>
</html>
